.projects {
  display: flex;
  flex-direction: column;
  padding-top: 30px;
  gap: 20px;
}

.spinnderDiv {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

@media (min-width: 768px) {
  .projects {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 50px;
  }
}
