.mainImage {
  object-fit: contain;
  height: fit-content;
  flex: 1;

  &.xSmall {
    width: 50px;
    height: min-content;
  }
  &.small {
    width: 200px;
  }
  &.medium {
    width: 250px;
  }
  &.large {
    width: 300px;
  }
}
