@import '../../Variables.scss';

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 10px;
  border: 1px solid $grey-border;
  border-radius: 15px;
  transition: $transition;
  font-size: 20px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background: $button-background;
  cursor: pointer;

  &.github {
    background: $github-gradient;
  }

  &:hover {
    filter: grayscale(30%);
  }
}
