@import '../Variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.link {
  display: flex;
  justify-content: center;
  flex: 1;
  font-size: 20px;
  font-weight: bold;
  letter-spacing: 1px;
  transition: $transition;
  &:hover {
    color: $white-text-hover;
  }
  &.active {
    color: $active-link;
  }
}
