@import '../Variables.scss';

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}
.link {
  display: flex;
  justify-content: center;
  padding: 0px 10px;
  font-size: 20px;
  font-weight: bold;
  flex: 1;
  letter-spacing: 1px;
  transition: $transition;
  &:hover {
    color: $white-text-hover;
  }
  &.active {
    color: $active-link;
  }
}

@media (min-width: 768px) {
  .link {
    max-width: 200px;
    font-size: 30px;
    flex: 1;
  }
}
