// COLORS
$app-background: #1c2331;
$white-text-hover: #d9e6f2;
$active-link: #4a98e0;
$project-border: #3b4044;
$grey-border: #6d7072;
$button-background: linear-gradient(to bottom right, #007bff, #0056b3);
$github-gradient: linear-gradient(to bottom right, #6736c2, #000000);

// ANIMATIONS

$transition: 300ms;

// DIMENSIONS
$line-width: 90%;
