// COLORS
$app-background: #1c2331;
$white-text-hover: #d9e6f2;
$active-link: #4a98e0;
$project-border: #3b4044;
$grey-border: #6d7072;

// ANIMATIONS

$transition: 300ms;

// DIMENSIONS
$line-width: 90%;
