@import '../../Variables.scss';

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid $project-border;
  flex: 1;
  border-radius: 15px;
  gap: 10px;
}
.title {
  display: flex;
  font-size: 36px;
  justify-content: center;
}
.image {
  max-width: 320px;
  height: auto;
  border: solid 1px $grey-border;
  object-fit: cover;
  transition: $transition;
}
.description {
  text-align: center;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.stackHead {
  font-size: 24px;
  text-decoration: underline;
}
.stackContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  flex-basis: 48%;
  gap: 40px;
}
.stackArea {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  gap: 10px;
  transition: $transition;

  &:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}
.item {
  margin: 0;
  font-size: 20px;
}
.links {
  display: flex;
  justify-content: center;
  margin-top: auto;
  top: 0;
  padding-top: 30px;
  gap: 20px;
}

@media (min-width: 768px) {
  .image {
    max-width: 500px;
  }
}

@media (min-width: 1620px) {
  .card {
    display: flex;
  }
  .image {
    max-width: 700px;
  }
}
